<!DOCTYPE html>
<html ng-app="webApp">
    
<head>
    <title>Cap2: AngulaJs and Bootstrap</title>
  
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--l'ordine di queste componenti è fondamentale, jquery va messo prima di bootstrap-->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/controller/webApp.js"></script>
    <script src="js/controller/controller.js"></script>
  
</head>

<body ng-controller="AppCtl">

    <!-- Questa è la barra di navigazione, viene indicata come nav in html e prende in questo caso -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header"> <!--  questo è utile per la navigazione mobile -->
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#nav-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul>
                <a class="navbar-brand" href="../"> Contacts Manager </a>
            </ul>
        </div>
        
        <!-- Questa componente è richiamata dal bottone sopra. Questa parte è indicata come quella
        preposta a risponere alla chiamata dell'utente perché taggata come #nav-toggle sopra -->
        <div class="collapse navbar-collapse" id="nav-toggle">
            <ul class="nav navbar-nav">
                <li class="active"><a href="contact/1">Browse</a></li>
                <li><a href="add-contact"> Add Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="form-control" palceholder="Search">
            </form>
        </div>  
    </nav>
    
  
    
    <div class="page-header">
            <h1>All contacts</h1>
    </div>
        
    <div class="container">
        <div class="table-bordered">
            <table class="table-responsiveg table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Karan Bromwich</td>
                        <td>karan@example.com</td>
                        <td>01234 56734</td>
                        <td><a href=”#” class="btn btn-default btn-xs">View</a></td>
                    </tr>
                    <tr>
                        <td>Declan Proud</td>
                        <td>declan@example.com</td>
                        <td>01234 567890</td>
                        <td><a href=”#” class="btn btn-primary btn-xs">View</a></td>
                    </tr>
                    <tr>
                        <td>Karan Bromwich</td>
                        <td>karan@example.com</td>
                        <td>01234 56734</td>
                        <td><a href=”#” class="btn btn-warning btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <td>Declan Proud</td>
                        <td>declan@example.com</td>
                        <td>01234 567890</td>
                        <td><a href=”#” class="btn btn-danger btn-lg">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <hr>
    <div> <h2> Capitolo 5 </h2> </div>
    <p><a href="add-contact">Add.html (add-contact)</a></p>
    <p><a href="contact/1">Contact.html (contact/1)</a></p>
    <p><a href="prova">Richiesta a route che non esiste (prova)</a></p>
    
    

</body>
</html>